.Register {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #2b1b1b, #1c0d0d);
  position: relative;
  animation: fadeIn 1s ease-out;
  }
  
  .main-container {
    width: 350px; 
    border-radius: 0.75rem;
    background: rgba(0, 0, 0, 0.6);
    padding: 2rem;
    color: rgba(243, 244, 246, 1);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5); 
  backdrop-filter: blur(10px);
  }
  
  .main-container h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #fff;
    text-align: left;
  }
  
  .form-containerg {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns for inputs */
    gap: 1rem; /* Space between the columns and rows */
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .form-group label {
    color: rgba(156, 163, 175, 1);
    margin-bottom: 4px;
  }
  
  .form-group input {
    padding: 0.8rem;
    font-size: 1rem;
    background: #5a2a3a; /* Dark maroon color */
    color: #fff;
    border: none;
    border-radius: 4px;
    outline: none;
    width: 100%;
  }
  
  .form-group input:focus {
    border: 2px solid rgba(167, 139, 250);
  }
  
  .submit-container {
    grid-column: span 2; /* Button spans both columns */
    margin-top: 1rem;
    text-align: center;
  }
  
  .btn-register {
    display: block;
  width: 100%;
  background-color: #8a2be2;
  padding: 0.75rem;
  text-align: center;
  color: #fff;
  border: none;
  font-size: 1.1rem;
  font-weight: 700;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  }
  
  .btn-register:hover {
    background-color: rgba(128, 0, 128, 0.437);
  }
  
  .reg-container {
    grid-column: span 2; /* Centers the login text below the form */
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #aaa;
    text-align: center;
  }
  
  .reg-container a {
    color: #fff;
    text-decoration: none;
  }
  
  .reg-container a:hover {
    text-decoration: underline;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  
  .form-group.full-width {
    grid-column: span 2; 
  }
  